Repository iqm-finland/qiskit-on-iqm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, pip-compile

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: tox -e format
        language: system
        files: \.py$
        pass_filenames: false

  - repo: local
    hooks:
      - id: pip-compile
        name: pip-compile
        entry: tox -e pip-compile
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

Removed qiskit-monitor tests as this will always be skipped
  tests/test_iqm_job.py
Due: format

pylint
  tests/test_iqm_job.py
Due: format

Fixed layout preservation test to work on all devices as this fixes a Helmi bug.
  tests/test_iqm_transpilation.py
Due: format

Documentation fixes
  src/iqm/qiskit_iqm/iqm_move_layout.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

black.
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Black.
  tests/test_iqm_naive_move_pass.py
Due: format

Add info about APIVariant.V1/V2 to user guide
  docs/user_guide.rst
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Add info about APIVariant.V1/V2 to user guide (#146)
  CHANGELOG.rst
  docs/user_guide.rst
Due: none

Bugfix in optimize_sqg where the angles are not properly computed for circuits with move gates
  CHANGELOG.rst
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/test_iqm_transpilation.py
Due: format

removed print statements
  src/iqm/qiskit_iqm/iqm_transpilation.py
Due: format

formatting
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/test_iqm_transpilation.py
Due: format

test fix
  tests/fake_backends/test_fake_deneb.py
Due: format

Use the native reset operation.
  CHANGELOG.rst
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_job.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  tests/test_iqm_backend.py
  tests/test_qiskit_to_iqm.py
Due: format, pip-compile

add warning when unknown facade name is used
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

format with tox
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

rm else after return
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

SW-803: Bugfix in IQMOptimizeSingleQubitGates where the angles are not properly computed (#147)
  CHANGELOG.rst
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/fake_backends/test_fake_deneb.py
  tests/test_iqm_transpilation.py
Due: format

Update user_guide.rst
  docs/user_guide.rst
Due: none

Update user_guide.rst (#150)
  docs/user_guide.rst
Due: none

check for none type
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

Small fix.
  src/iqm/qiskit_iqm/iqm_job.py
Due: format

Fix docs.
  CHANGELOG.rst
Due: none

SW-1008 Use the native reset operation (#148)
  CHANGELOG.rst
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_job.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  tests/test_iqm_backend.py
  tests/test_qiskit_to_iqm.py
Due: format, pip-compile

Bugfix: transpile() now accepts delay ops.
  CHANGELOG.rst
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/conftest.py
  tests/test_iqm_transpilation.py
Due: format

Fix.
  src/iqm/qiskit_iqm/iqm_transpilation.py
Due: format

fix docs
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Mypy.
  tests/conftest.py
Due: format

Bugfix: transpile() fails in a circuit with delay ops. (#151)
  CHANGELOG.rst
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/conftest.py
  tests/test_iqm_transpilation.py
Due: format

Handle unknown job statuses
  CHANGELOG.rst
  src/iqm/qiskit_iqm/iqm_job.py
Due: format

Handle unknown job statuses (#155)
  CHANGELOG.rst
  src/iqm/qiskit_iqm/iqm_job.py
Due: format

apollo backend's noise paramaters updated
  src/iqm/qiskit_iqm/fake_backends/fake_apollo.py
Due: format

update gate durations
  src/iqm/qiskit_iqm/fake_backends/fake_apollo.py
Due: format
