Repository iqm-finland/qiskit-on-iqm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, pip-compile

format:
  name: format
  entry: tox -e format
  language: system
  pass_filenames: false

pip-compile:
  name: pip-compile
  entry: tox -e pip-compile
  language: system
  pass_filenames: false

fix iqm-client interface bug
  tests/test_iqm_provider.py
Due: format

initial unittest for symbolic gates
  tests/test_iqm_naive_move_pass.py
Due: format

added fake garnet as a specific 20qb QPU
  src/iqm/qiskit_iqm/fake_backends/fake_apollo.py
  src/iqm/qiskit_iqm/fake_backends/fake_garnet.py
Due: format

udpate changelog
  CHANGELOG.rst
Due: none

Fix unit tests compatibility with latest iqm-client
  CHANGELOG.rst
  tests/test_iqm_backend.py
  tests/test_iqm_provider.py
  tests/utils.py
Due: format

Fix unit tests compatibility with latest iqm-client (#157)
  CHANGELOG.rst
  tests/test_iqm_backend.py
  tests/test_iqm_provider.py
  tests/utils.py
Due: format

Support hack for symbolic gates
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/test_iqm_naive_move_pass.py
Due: format

Symbolic gate replacement now on DAG level instead of circuit level
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

non-symbolic parameters can be floats and ints
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

iqm-client bump
  pyproject.toml
Due: pip-compile

Update changelog
  CHANGELOG.rst
Due: none

Version bump
  CHANGELOG.rst
Due: none

Update src/iqm/qiskit_iqm/fake_backends/fake_apollo.py
  src/iqm/qiskit_iqm/fake_backends/fake_apollo.py
Due: format

Update src/iqm/qiskit_iqm/fake_backends/fake_garnet.py
  src/iqm/qiskit_iqm/fake_backends/fake_garnet.py
Due: format

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

test fake garnet
  tests/fake_backends/test_fake_garnet.py
Due: format

update changelog as there was conflict
  CHANGELOG.rst
Due: none

Update tests/fake_backends/test_fake_garnet.py
  tests/fake_backends/test_fake_garnet.py
Due: format

pylint command disabled
  src/iqm/qiskit_iqm/fake_backends/fake_garnet.py
Due: format

Add FakeGarnet (#156)
  CHANGELOG.rst
  src/iqm/qiskit_iqm/fake_backends/fake_garnet.py
  tests/fake_backends/test_fake_garnet.py
Due: format

Archive the GitHub repository
  CHANGELOG.rst
  README.rst
  src/iqm/qiskit_iqm/__init__.py
Due: format

Update comment
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Symbolic gates transpilation (#158)
  CHANGELOG.rst
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/test_iqm_naive_move_pass.py
Due: format, pip-compile

Deprecate qiskit-iqm and archive GitHub repository (#159)
  CHANGELOG.rst
  README.rst
  src/iqm/qiskit_iqm/__init__.py
Due: format

Change package deprecation warning into an error
  CHANGELOG.rst
  src/iqm/qiskit_iqm/__init__.py
Due: format

Change package deprecation warning into an error (#160)
  CHANGELOG.rst
  src/iqm/qiskit_iqm/__init__.py
Due: format

Restrict iqm-client version to <22.10
  CHANGELOG.rst
  pyproject.toml
Due: pip-compile

Restrict iqm-client version to <22.10 (#161)
  CHANGELOG.rst
  pyproject.toml
Due: pip-compile

domain name change
  README.rst
Due: none

Path conditions:
  format: any of: \.py$
  pip-compile: any of: ^pyproject\.toml$
