Repository iqm-finland/qiskit-on-iqm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, pip-compile

format:
  name: format
  entry: tox -e format
  language: system
  pass_filenames: false

pip-compile:
  name: pip-compile
  entry: tox -e pip-compile
  language: system
  pass_filenames: false

Update changelog
  CHANGELOG.rst
Due: none

Revert "Update changelog"
  CHANGELOG.rst
Due: none

Lots of doc fixes.
  CHANGELOG.rst
  docs/user_guide.rst
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/iqm_provider.py
  src/iqm/qiskit_iqm/move_gate.py
  src/iqm/qiskit_iqm/transpiler_plugins.py
Due: format, pip-compile

Cleanup.
  src/iqm/qiskit_iqm/fake_backends/iqm_fake_backend.py
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/move_gate.py
Due: format

Remove DQA sorting, it should be sorted already.
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  tests/conftest.py
  tests/fake_backends/test_iqm_fake_backend.py
  tests/test_iqm_backend_base.py
Due: format

Remove lock file checks in CI
  .github/workflows/ci.yml
Due: none

Cleanup
  docs/user_guide.rst
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_move_layout.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/move_gate.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  tests/fake_backends/test_iqm_fake_backend.py
Due: format, pip-compile

Cleanup.
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Fixes.
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Add python 3.12 support (#139)
  .github/workflows/ci.yml
  CHANGELOG.rst
  pyproject.toml
  src/iqm/qiskit_iqm/__init__.py
  src/iqm/qiskit_iqm/iqm_transpilation.py
  tests/.pylintrc
  tests/test_iqm_provider.py
  tox.ini
Due: format, pip-compile

Cleanup, FIXMEs.
  docs/user_guide.rst
  pyproject.toml
  src/iqm/qiskit_iqm/__init__.py
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_move_layout.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format, pip-compile

Refactor IQMTarget
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  src/iqm/qiskit_iqm/transpiler_plugins.py
Due: format

Fix broken fake backends
  src/iqm/qiskit_iqm/iqm_backend.py
  tests/conftest.py
  tests/fake_backends/test_fake_adonis.py
  tests/fake_backends/test_fake_deneb.py
Due: format

Refactor tests
  tests/move_architecture/test_architecture.py
  tests/move_architecture/test_move_circuit.py
  tests/test_iqm_naive_move_pass.py
  tests/test_iqm_single_qubit_gate_optimization.py
  tests/test_iqm_target.py
  tests/test_qiskit_to_iqm.py
Due: format

deserialize with the same quantum registers
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
Due: format

transpiler keeps layout
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

pylint
  tests/test_iqm_naive_move_pass.py
  tests/test_qiskit_to_iqm.py
Due: format

pylint
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

typo
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

mypy
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Skipping too large circuits
  tests/test_iqm_naive_move_pass.py
Due: format

typos
  tests/test_iqm_naive_move_pass.py
Due: format

Move gate unitary now has some arbitrary phase
  src/iqm/qiskit_iqm/move_gate.py
Due: format

resonators now inferred from MOVE gate implementations
  src/iqm/qiskit_iqm/iqm_backend.py
Due: format

Removed prints and added todos
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

removed prints and added todos
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
Due: format

Refactor unittests
  tests/conftest.py
  tests/fake_backends/test_fake_deneb.py
  tests/move_architecture/test_architecture.py
  tests/move_architecture/test_move_circuit.py
  tests/test_iqm_transpilation.py
Due: format

Bugfix where the target was disconnected so the transpiler broke
  src/iqm/qiskit_iqm/iqm_backend.py
Due: format

Bugfix where the deserialization could not add resonators as they were not in the backend because that would disconnect the target
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
Due: format

Bugfix where restricting to qubits needs to be done from the fake_target_with_moves
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Fixed tests to deal with resonators no longer being in the Target
  tests/fake_backends/test_fake_adonis.py
  tests/fake_backends/test_fake_deneb.py
  tests/move_architecture/test_architecture.py
Due: format

Restructured files to make sense
  tests/move_architecture/__init__.py
  tests/move_architecture/test_architecture.py
  tests/test_iqm_target.py
Due: format

Fixed some errors
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  tests/test_iqm_naive_move_pass.py
Due: format

Fixed most of the naive transpilation test case failures
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/move_gate.py
  tests/test_iqm_naive_move_pass.py
Due: format

generate_initial_layout now uses the correct target
  src/iqm/qiskit_iqm/iqm_move_layout.py
Due: format

Added some comments
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
Due: format

Test deserializer.
  CHANGELOG.rst
  docs/user_guide.rst
  pyproject.toml
  src/iqm/qiskit_iqm/__init__.py
  src/iqm/qiskit_iqm/fake_backends/fake_deneb.py
  src/iqm/qiskit_iqm/fake_backends/iqm_fake_backend.py
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_circuit_validation.py
  src/iqm/qiskit_iqm/iqm_job.py
  src/iqm/qiskit_iqm/iqm_move_layout.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/iqm_provider.py
  src/iqm/qiskit_iqm/iqm_transpilation.py
  src/iqm/qiskit_iqm/move_gate.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  src/iqm/qiskit_iqm/transpiler_plugins.py
  tests/conftest.py
  tests/fake_backends/test_fake_adonis.py
  tests/fake_backends/test_fake_deneb.py
  tests/fake_backends/test_iqm_fake_backend.py
  tests/move_architecture/__init__.py
  tests/move_architecture/test_architecture.py
  tests/move_architecture/test_move_circuit.py
  tests/test_iqm_backend.py
  tests/test_iqm_backend_base.py
  tests/test_iqm_naive_move_pass.py
  tests/test_iqm_provider.py
  tests/test_iqm_target.py
  tests/test_iqm_transpilation.py
  tests/test_qiskit_to_iqm.py
  tests/test_utils.py
  tests/utils.py
  tox.ini
Due: format, pip-compile

Cleanup.
  src/iqm/qiskit_iqm/iqm_backend.py
Due: format

Add the delay operation.
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_transpilation.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  tests/test_iqm_target.py
Due: format

Path conditions:
  format: any of: \.py$
  pip-compile: any of: ^pyproject\.toml$
