Repository iqm-finland/qiskit-on-iqm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, pip-compile

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: tox -e format
        language: system
        files: \.py$
        pass_filenames: false

  - repo: local
    hooks:
      - id: pip-compile
        name: pip-compile
        entry: tox -e pip-compile
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

Use simplify_architecture
  src/iqm/qiskit_iqm/iqm_backend.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  tests/test_iqm_target.py
Due: format

Fix test.
  tests/fake_backends/test_fake_deneb.py
Due: format

Test for delay.
  tests/test_iqm_backend.py
Due: format

Cleanup.
  src/iqm/qiskit_iqm/iqm_backend.py
  tests/test_iqm_target.py
Due: format

Black.
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_backend.py
  tests/test_iqm_backend.py
  tests/test_iqm_backend_base.py
  tests/test_iqm_target.py
Due: format, pip-compile

Add roundtrip test.
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  tests/test_iqm_naive_move_pass.py
  tests/test_qiskit_to_iqm.py
Due: format

Test flags for transpile to IQM.
  tests/fake_backends/test_fake_deneb.py
  tests/test_iqm_naive_move_pass.py
Due: format

Test that error is raised for incompatible handling options.
  tests/test_iqm_naive_move_pass.py
Due: format

Improve docs.
  CHANGELOG.rst
  src/iqm/qiskit_iqm/examples/bell_measure.py
  src/iqm/qiskit_iqm/examples/transpile_example.py
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

Fix typo.
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  tests/test_iqm_naive_move_pass.py
Due: format

Check correct schedule method plugin is called.
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/transpiler_plugins.py
  tests/test_iqm_naive_move_pass.py
Due: format, pip-compile

Black.
  pyproject.toml
  tests/test_iqm_backend.py
  tests/test_iqm_backend_base.py
  tests/test_iqm_target.py
Due: format, pip-compile

Additional transpile_to_IQM and deserialization tests
  pyproject.toml
  src/iqm/qiskit_iqm/__init__.py
  src/iqm/qiskit_iqm/fake_backends/fake_deneb.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  src/iqm/qiskit_iqm/transpiler_plugins.py
  tests/conftest.py
  tests/fake_backends/test_fake_deneb.py
  tests/test_iqm_naive_move_pass.py
  tests/test_iqm_provider.py
  tests/test_iqm_target.py
  tests/test_qiskit_to_iqm.py
Due: format, pip-compile

Lint.
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  tests/fake_backends/test_fake_deneb.py
  tests/test_iqm_backend.py
  tests/test_iqm_provider.py
  tests/test_iqm_target.py
Due: format

Reflect Resonance authentication in docs better
  docs/user_guide.rst
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

fix rst headline hierarchy
  docs/user_guide.rst
Due: none

Update src/iqm/qiskit_iqm/iqm_provider.py
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

Fix.
  docs/user_guide.rst
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

Reflect Resonance authentication in docs better (#145)
  docs/user_guide.rst
  src/iqm/qiskit_iqm/iqm_provider.py
Due: format

Changelog.
  CHANGELOG.rst
Due: none

New layout generation algorithm.
  src/iqm/qiskit_iqm/iqm_move_layout.py
  src/iqm/qiskit_iqm/iqm_naive_move_pass.py
  tests/fake_backends/test_fake_deneb.py
  tests/test_iqm_backend_base.py
  tests/test_iqm_move_layout.py
  tests/test_iqm_transpilation.py
Due: format

Update user guide.
  docs/user_guide.rst
Due: none

Unused logical qubits must be in the layout as well.
  src/iqm/qiskit_iqm/iqm_move_layout.py
  tests/test_iqm_naive_move_pass.py
Due: format

Deserialization produces c_if on Clbit, we must support it.
  CHANGELOG.rst
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
Due: format

Fix reset deserialization.
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
Due: format

Bump iqm-client.
  pyproject.toml
Due: pip-compile

Drop Python 3.9 support.
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CHANGELOG.rst
  pyproject.toml
  tox.ini
Due: pip-compile

Linting.
  pyproject.toml
  src/iqm/qiskit_iqm/iqm_move_layout.py
  src/iqm/qiskit_iqm/qiskit_to_iqm.py
  tests/test_iqm_backend_base.py
  tests/test_iqm_naive_move_pass.py
Due: format, pip-compile

Drop qiskit<1.0 support.
  CHANGELOG.rst
  docs/user_guide.rst
  pyproject.toml
  src/iqm/qiskit_iqm/__init__.py
  tox.ini
Due: format, pip-compile

Un-revert change in src/iqm/qiskit_iqm/iqm_job.py
  src/iqm/qiskit_iqm/iqm_job.py
Due: format

Remove print statements
  tests/fake_backends/test_iqm_fake_backend.py
Due: format

Examples updated.
  src/iqm/qiskit_iqm/examples/bell_measure.py
  src/iqm/qiskit_iqm/examples/resonance_example.py
  src/iqm/qiskit_iqm/examples/transpile_example.py
Due: format

Review comments.
  src/iqm/qiskit_iqm/iqm_backend.py
  tests/conftest.py
  tests/fake_backends/test_fake_adonis.py
  tests/fake_backends/test_fake_aphrodite.py
  tests/fake_backends/test_fake_apollo.py
  tests/test_iqm_backend_base.py
  tests/test_iqm_provider.py
Due: format

Black.
  src/iqm/qiskit_iqm/iqm_backend.py
  tests/fake_backends/test_fake_adonis.py
  tests/fake_backends/test_fake_aphrodite.py
Due: format

Reduce size of test circuits
  tests/test_iqm_naive_move_pass.py
Due: format

Update black in tox -e format
  tox.ini
Due: none
